* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.search-container {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 30%;
    height: 100vh;
    background-color:rgb(245,245,245)

  }

  .display-weather-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
    height: 100%;
    margin-left: auto;
  }

  .card-wrapper {
      display: flex;
      flex-flow: row nowrap;
  }
  .city {
      display: inline-block;
  }
  .col2 {
      margin: 2%;
  }

  #current-weather {
    padding: 1%;
  }
  .date {
      display: inline;
  }
  .flex-container {
      display: flex;
  }


  .fiveDayCard {
    background-color: rgb(0, 125, 255);
    margin: 5px;
    border-radius: 2%;
    width: 25%;
    line-height: .45;
    text-align: center;
    color: white;
    font-size: 14px;
  }

header {
    display: flex;
    justify-content: center;
    order: 1;
    background-color: rgb(65, 62, 62);
    color: white;
}
.historyBtn {
    line-height: 2;
    background-color: white;
    text-align: left;
    border: 1px;
    cursor: pointer;
    margin: 0 4%;
    padding: 3%;
    border: .25px solid #c4c2c2;
    border-top: none;
}
.historyBtn:first-child {
    border-top: .25px solid #c4c2c2;
}
.historyBtn:hover {
    transition: background-color .05s ease-in-out;
    background-color: rgb(245,245,245, .05);
}
/* search input */
.search {
    width: 60%;
    border-radius: 2%;
    border: 1px solid #c4c2c2;
    line-height: 2;
}
/* form margin to line up with history bar */
.search-bar {
    margin-left: 4%;
}

#search-heading { 
    margin-bottom: 2px;
}
.search-history {
    display: flex;
    flex-flow: column;
    height: 100%;
    line-height: 1.5;
    margin-top: 4%;
}

/* search button */
.submit{
    background-color: rgb(0, 125, 255);
    color: white;
    line-height: 2;
    position: absolute;
    border: 2px solid;
    border-radius: 18%;
    cursor: pointer;
}
.submit:hover {
    transition: border-color 1s ease;
    border-color: rgb(0, 125, 255, .05);
}
.uv-index-text {
    display: inline-block;
    margin: 0;
}
#uv-index-number {
    background-color: red;
    color: white;
    border-radius: 2%;
}


  /* smart phones */

  @media (min-width: 320px), (max-width: 667px) {
    .fiveDayCard {
        width: 35%;
        line-height: 1;
      }
  }